* {
    margin:0px;
    box-sizing: border-box;
}

#tabuleiro {
    width: 600px;
    border:1px solid red;
    overflow: auto;
    background-color:black;
}

.boxTabuleiro {
    width:33.33%;
    height:200px;
    border:1px solid black;
    float:left;
    background-color:white;
}

.boxTabuleiro:hover {
    background-color:gray;
    cursor:pointer;
}

.imgTabuleiro {
    background-position: center center;
    background-repeat: no-repeat;
}

.imgXis {
    background-image: url('../img/x.png');
}

.imgCircle {
    background-image: url('../img/0.png');
}