* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container > div {
    border:1px solid black;
    padding: 10px;
}