* {
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}

form {
    width: 250px;
    margin:auto;
    border:5px solid darkblue;
    padding:20px;
    background-color: #E0B51B;
    border-radius: 10px;
}

form label {
    display: block;
}

form input[type="text"] {
    width: 100%;
    padding: 5px;
}
form input[type="button"] {
    width: 50%;
    margin: 10px 0px;
    background-color: darkblue;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
}
form input[type="button"]:hover {
    background-color: aqua;
    color: darkblue;
    cursor: pointer;
}